.fonte-destaque{

    font-weight: bold;
    font-size: 25px;

}

.botao-secundario{
    margin-left: 180px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}

.botao-principal{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    display: block;
}